@model CameRoomWeb.Models.GrapherModel.GrapherRegisterModel
@{
    ViewBag.Title = "GrapherRegister";
}

<h2>GrapherRegister</h2>
@Html.DropDownListFor(m => m.ProvinceID, Model.listProvince, "ALL", new { @class = "dropdown", style = "width:210px;" })